header {
  text-align: center;
  color: white;
  background: #D419EA;
  opacity: .4;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: arial;
}

p{
  text-align: center;
  font-family: arial;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: arial;
}
