header{
  color: white;
  background-color: black;
}

body{
  margin:500;
  height:100%;
  font-family: helvetica;
  text-align: center;
  background-color: blue;
}

p{
  text-align: center;
  color: gray;
  border-color: black;
}

ul li{
  list-style: circle;
  text-align: left;
  color:red;
  margin-left: 500px;
}

ol li{
  left-margin: 500px;
  text-align: left;
  color:green;
}

footer{
  clear: left;
  padding:10px;
  background-color: gray;
  text-align: center;
}

div{
  color: red;
  border-width: thick;
  border-color: yellow;
  padding: 10;
}
